<ion-header>
  <ion-toolbar><ion-buttons slot="start">
      <ion-button href="./home"> <ion-icon
      name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>Listar Diarista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
	<ion-card *ngFor="let diarista of lista_diarista">
  <ion-card-header>
    <ion-card-subtitle>Função</ion-card-subtitle>
    <ion-card-title>Nome:{{diarista.nomeFornecedor }}</ion-card-title>
    
  </ion-card-header>

  <ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col>Celular:{{diarista.celularFornecedor }}<br>
              Telefone:{{diarista.telefoneFornecedor }}<br>
              Experiencia:{{diarista.experienciaFornecedor}}<br></ion-col>
            <ion-col>      <ion-img src="/assets/avatar.png"></ion-img>            </ion-col>
        
          </ion-row>
        </ion-grid>
    
  </ion-card-content>
</ion-card>



<ion-button color="light" shape="round" href="./cad-diarista">Clique Aqui para Cadastrar Fonecedores</ion-button>
<ion-button color="light" shape="round" href="./home">Clique Aqui para Página Inicial</ion-button>


</ion-content>
